@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  font-family:'Fraunces', serif ;
  color: #2B3C2C;
  width: 100vw;
  height: 100vh;
}
#root{
  width: 100%;
}
@keyframes appearFromCenter {
  from {
      opacity: 0;
  }
  to {
      opacity: 100%;
  }
}