@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

* {
  margin: 0;
  padding: 0;
}
body{
  font-family:'Fraunces', serif ;
  color: #2B3C2C;
  width: 100vw;
  height: 100vh;
}
#root{
  width: 100%;
}